@{
    Page.Title = "Tickets Order Confirmed";
    
}

<h1>Order Confirmation</h1>

    <div class="message order-success">
        <h2>Thank you for your ticket order!</h2>

        <p style="margin-top: 10px;">We are processing your order and will send you a confirmation email. You should receive your tickets on or shortly after September 1st 2013.</p>
    </div>
