@{
    Page.Title = "Tickets Order Cancelled";
    
}

<h1>Order Cancellation</h1>

    <div class="message order-success">
        <h2>Your ticket order has been cancelled</h2>

        <p> </p>
    </div>
