@{
    Page.Title = "Tickets Sold Out";
    
}

<!--<h1>Sold Out</h1>-->
<h1>Not yet available</h1>

    <div class="message order-success">
        <h2>Sorry, we regret to inform you that tickets are not currently available for online purchase. Please check back soon.</h2>

        <p> </p>
    </div>
