@{
}
<div class="contrib">
    <div>

<p>The Squadron is very privileged to be at Biggin Hill occupying historic RAF buildings and to be providing a facility for over 100 young people of Biggin Hill and the surrounding area.</p>

<p>Squadron continues the annual “honouring” of RAF Biggin Hill’s role during the Battle of Britain though its Battle of Britain Reception held in September of each year.</p>

<p>The Reception commences with a Sunset Ceremony during which the Cadets of the Squadron parade before a Guest of Honour.</p>

<p>We have reserved a page in our program to thank those who donate £25 or more be you an individual or a local or national company.</p>

<p>Please make your donations to:</p>
    <address>
         2427 (Biggin Hill) Sqn ATC<br/> 
         PMC 2427 Squadron,<br/>c/o 9 Willersley Avenue,<br/>Orpington,<br/>Kent BR6 9RT. 
    </address>
       <p></p><p>Many thanks</p>
        <p>Chairman – Civilian Committee</p>
        <p>2427 (Biggin Hill) Sqn ATC</p>
       
    </div>
 </div>
