
<div class="sqnbadge">
    <img src="~/images/bob13crest.png" alt="squadron crest" />
</div>


<div class="infopanelcontainer">
    <div class="infopanel">
    <p id="infohost"> Hosted by Officer Commanding 2427 (Biggin Hill) Squadron ATC:</p>

     <p></p>
    <p style="margin-top: 25px">Ceremonial parade to greet the guest of honour</p>

    <p> Sunset Ceremony</p>
    <p> Hot Buffet</p>
    

    <p> Evening concert by Yiewsley &amp; West Drayton Band (RAF St George's Chapel)</p>
        
     <p> Music by the <a href="http://www.ywdband.com/">Yiewsley &amp; West Drayton Band</a></p>

    <p> Tickets: £30 per person</p>

    <p> Beginning at 17:30 (prompt) - Parade at 18:00</p>

    <p> Entrance via 2427 (Biggin Hill) Sqn Headquarters</a></p>

     <p></p>

   
    </div>
</div>

<div class="quotation">
<blockquote>
<b>Never in the field of human conflict was so much owed by so few.</b> All hearts go out to the fighter pilots, whose brilliant actions we see with our own eyes day after day; but we must never forget that all the time, night after night, month after month, our bomber squadrons travel far into Germany, find their targets in the darkness by the highest navigational skill, aim their attacks, often under the heaviest of fire, often with serious loss, with deliberate, careful discrimination, and inflict shattering blows upon the whole of the technical and war-making structure of the Nazi power.
</blockquote>
<p>
Winston Churchill August 1940.</p>
</div>